{deps_dir,"deps"}.
{erl_opts,[nowarn_export_all]}.
{purs_opts,[{compiler, purs}, {purs_out,"psbin"}, {js_out, "priv/static/js"}, {namespace, "purescript-*"}, {main, "Main"}]}.
{active, [{compile_on_static, false}, {compile_on_priv, false}]}.
{deps,[{sh,".*",{git,"git://github.com/synrc/sh",{tag, "2.11"}}}, {fs,".*",{git, "git://github.com/synrc/fs",{tag, "4.10"}}}]}.
